// Footer
@import 'variables';

// .footer-menu-holder {
//   display: -webkit-box;
//   display: -moz-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   -moz-justify-content: space-between;
//   justify-content: space-between;
//   // padding: 0 20px; Commented this to fix MT-452
//   @media only screen and (min-width: 768px) and (max-width: 1023px) {
//       width: 100%;
//   }
// }

// .footer-menu-column {
//   width: 25%;
//   padding: 0 10px 0 0;
//   @media only screen and (min-width: 1440px) {
//       // width: 0;
//       padding: 0 35px 0 0;
//   }
// }



.footer-menu-list {
  padding: 0 10px 0 0;
}

.footer-menu-item {
  line-height: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  list-style-type: none;
  font-family: $DEFAULT_FONT_FAMILTY;
  font-weight: 300;
  color: $NEUTRAL_DARK_COLOR;
  a  {
    color: $NEUTRAL_DARK_COLOR;
  }
}

// @media screen and (min-width: 768px) {
//   .footer-menu-item:hover {
//       text-decoration: none;
//   }
// }

// .footer-block-title {
//   line-height: 22px;
//   font-size: 16px;
//   list-style-type: none;
//   font-family: $DEFAULT_FONT_FAMILTY;
//   font-weight: 500;
//   color: $NEUTRAL_DARK_COLOR;
//   a  {
//     color: $NEUTRAL_DARK_COLOR;
//   }
// }

// .footer-menu-item > a,
// .footer-menu-item > link {
//   color: $NEUTRAL_DARK_COLOR;
//   text-decoration: none;
// }

// .footer-menu-column > a,


// .footer-menu-column > a:focus,
// .footer-menu-column > a:hover,
// .footer-menu-column > a:active {
//   text-decoration: underline !important;
// }


// @media only screen and (max-width: 767px) {
//   .footer-menu-column {
//       width: 100%;
//       padding: 0 !important;
//       border-top: 1px solid #e1e3e5;
//   }
//   .footer-menu-list {
//       padding-right: 0;
//   }

//   .footer-menu-holder {
//       width: 100%;
//       -webkit-box-orient: vertical;
//       -webkit-box-direction: normal;
//       -ms-flex-direction: column;
//       flex-direction: column;
//       border-bottom: 1px solid #e1e3e5;
//   }
// }


// .show-on-mobile {
//   display: none;
// }

// .show-tablet-or-higher {
//   display: none;
// }
// // Mobile
// @media only screen and (max-width: calc($BREAKPOINT_MEDIUM - 1px) ) {
//   .show-on-mobile {
//     display: block;
//   } 
// }

// // Tablet or Higher
// @media only screen and (min-width: calc($BREAKPOINT_MEDIUM) ) {
//   .show-tablet-or-higher {
//     display: block;
//   }
// }

// // Tablet or Smaller
// @media only screen and (max-width: calc($BREAKPOINT_LARGE - 1px) ) {
  
// }

// // Larger Desktop
// @media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {
  
// }

// // Desktop or Smaller
// @media only screen and (max-width: calc($BREAKPOINT_XXLARGE - 1px) ) {
  
// }

// // Tablet
// @media only screen and (min-width: calc($BREAKPOINT_MEDIUM))  and (max-width: calc($BREAKPOINT_LARGE))  {
  
// }
// // 
// // Laptop
// @media only screen and (min-width: calc($BREAKPOINT_LARGE)) and (max-width: calc($BREAKPOINT_XXLARGE - 1px))  {
  
// }


// .footer-root {
//   // background: linear-gradient(90deg, #16222A 0%, #3A6073 100%);
//   margin-top: 25px;
//   width: 75%;
//   align-items: center;
//   margin: 25px auto;
// }
.footer-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10rem;
}
.container-socmed {
  width: 15rem;
  margin-top: 1rem;
}
.social-section {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-menu-link {
  color: white;
}
.field-footer-subscribee {
  background-color: white;
  border-radius: 30px;
  margin-right: 20px;
  border-color: transparent;
}

.heading-footer {
  font-family: $DEFAULT_FONT_FAMILTY;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;  
  color: $NEUTRAL_DARK_COLOR;
  list-style-type: none;
}
.margin-heading-main {
  margin-top: 64px;
  margin-bottom: 15px; 
}

.subscribe-container input {
  &::placeholder {
    font-family: $DEFAULT_FONT_FAMILTY;
    padding-left: 10px;
  }
}

.subscribe-botton {
  background: $subscibe-button;
  border-radius: 30px !important;
  width: 193px;
  height: 56px;
}
.subscribe-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.sub-heading-footer {
  font-family: $DEFAULT_FONT_FAMILTY;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $NEUTRAL_DARK_COLOR;
  list-style-type: none;
  
}

.copyright-footer  {
  font-family: $DEFAULT_FONT_FAMILTY;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.border-line {
  border-top: 1px solid #010206;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}