@import "variables.scss";

.header-root {
  background: linear-gradient(90deg, #16222A 0%, #3A6073 100%);
  height: $HEADER_HEIGHT;
}
.show-on-tablet-or-higher {
  display: flex;
}
.logo-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.show-on-mobile {
  display: none;
}

// Mobile
@media only screen and (max-width: calc($BREAKPOINT_MEDIUM - 1px) ) {
  .header-root {
    background: linear-gradient(90deg, #16222A 0%, #3A6073 100%);
    height: $HEADER_HEIGHT_MOBILE;
  }
  .show-on-tablet-or-higher {
    display: none;
  }
  .show-on-mobile {
    display: flex;
  }
}

// Tablet or Higher
@media only screen and (min-width: calc($BREAKPOINT_MEDIUM) ) {
  
}

// Tablet or Smaller
@media only screen and (max-width: calc($BREAKPOINT_LARGE - 1px) ) {
  
}

// Larger Desktop
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {
  
}

// Desktop or Smaller
@media only screen and (max-width: calc($BREAKPOINT_XXLARGE - 1px) ) {
  
}

// Tablet
@media only screen and (min-width: calc($BREAKPOINT_MEDIUM))  and (max-width: calc($BREAKPOINT_LARGE))  {
  
}

// Laptop
@media only screen and (min-width: calc($BREAKPOINT_LARGE)) and (max-width: calc($BREAKPOINT_XXLARGE - 1px))  {
  
}
