@import "variables.scss";

.header-root {
  background: white;
  height: $HEADER_HEIGHT;
  // padding: 15px 0 15px !important;
}
.show-on-tablet-or-higher {
  display: flex;
}
.logo-heading {
  font-family: $DEFAULT_FONT_FAMILTY;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.show-on-mobile {
  display: none;
}
.icon-heading a {
  color: $PIMARY_COLOR_600
}

.label-login {
  font-family: $DEFAULT_FONT_FAMILTY;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}
.page-heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  color: rgba(1, 2, 6, 0.4);

}
// Mobile
@media only screen and (max-width: calc($BREAKPOINT_MEDIUM - 1px) ) {
  .header-root {
    background: white;
    height: $HEADER_HEIGHT_MOBILE;
  }
  .show-on-tablet-or-higher {
    display: none;
  }
  .show-on-mobile {
    display: flex;
  }
  .header-root {
    padding: 0px !important;
  }
}


// Tablet or Higher
@media only screen and (min-width: calc($BREAKPOINT_MEDIUM) ) {
  
}

// Tablet or Smaller
@media only screen and (max-width: calc($BREAKPOINT_LARGE - 1px) ) {

}

// Larger Desktop
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {
  
}

// Larger Desktop and Desktop
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {
  
}

// Desktop or Smaller
@media only screen and (max-width: calc($BREAKPOINT_XXLARGE - 1px) ) {
  
}

// Tablet
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE))  and (max-width: calc($BREAKPOINT_XXXLARGE))  {
  
}

// Laptop
@media only screen and (min-width: calc($BREAKPOINT_LARGE)) and (max-width: calc($BREAKPOINT_XXLARGE - 1px))  {

}
