@import "variables.scss";

.header-dropdown {
  height: 300px;
  width: 100%;
  position: absolute;
  background-color: white;
  border: 1px #EEEEEE solid;
}

.search-button {
  background: linear-gradient(90deg, #3A6073 0%, #16222A 100%);
  margin-right: 10px;
}

.search-bar {
  display: block;
}

.stop-scroll {
  height: 100vh !important;
  overflow-y: hidden;
}

// Mobile
@media only screen and (max-width: calc($BREAKPOINT_MEDIUM - 1px) ) {
  .search-bar {
    display: none;
  }
  .search-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
}

// Tablet or Higher
@media only screen and (min-width: calc($BREAKPOINT_MEDIUM) ) {
  
}

// Tablet or Smaller
@media only screen and (max-width: calc($BREAKPOINT_LARGE - 1px) ) {
  .stop-scroll {
    height: 100vh !important;
    overflow-y: hidden;
    margin: 0;
  }
}

// Larger Desktop
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {

}

// Larger Desktop and Desktop
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {
 
}

// Desktop or Smaller
@media only screen and (max-width: calc($BREAKPOINT_XXLARGE - 1px) ) {
  
}

// Tablet
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE))  and (max-width: calc($BREAKPOINT_XXXLARGE))  {

}

// Laptop
@media only screen and (min-width: calc($BREAKPOINT_LARGE)) and (max-width: calc($BREAKPOINT_XXLARGE - 1px))  {

}