@import "variables.scss";

.header-dropdown {
  height: 300px;
  width: 100%;
  position: absolute;
  background-color: white;
  border: 1px #EEEEEE solid;
}

.search-button {
  background: white;
}

.search-bar {
  display: block;
  background-color: $NEUTRAL_LIGHT_COLOR_700;
  border-radius: 10px;
  height: 54px;
}

.stop-scroll {
  height: 100vh !important;
  overflow-y: hidden;
}

.filter-button {
  background-color: $PIMARY_COLOR;
  border-radius: 10px;
  height: 54px;
}

.search-wrapper {
  width: 100%;
  border-radius: 10px;
  height: 54px;
}

// Mobile
@media only screen and (max-width: calc($BREAKPOINT_MEDIUM - 1px) ) {
  
}

// Tablet or Higher
@media only screen and (min-width: calc($BREAKPOINT_MEDIUM) ) {
  
}

// Tablet or Smaller
@media only screen and (max-width: calc($BREAKPOINT_LARGE - 1px) ) {
  .stop-scroll {
    height: 100vh !important;
    overflow-y: hidden;
    margin: 0;
  }
}

// Larger Desktop
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {

}

// Larger Desktop and Desktop
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE) ) {
 
}

// Desktop or Smaller
@media only screen and (max-width: calc($BREAKPOINT_XXLARGE - 1px) ) {
  
}

// Tablet
@media only screen and (min-width: calc($BREAKPOINT_XXLARGE))  and (max-width: calc($BREAKPOINT_XXXLARGE))  {

}

// Laptop
@media only screen and (min-width: calc($BREAKPOINT_LARGE)) and (max-width: calc($BREAKPOINT_XXLARGE - 1px))  {

}