$subscibe-button: #1E87F0;

$BREAKPOINT_SMALL: 0px;
$BREAKPOINT_MEDIUM: 768px;
$BREAKPOINT_LARGE: 1024px;
$BREAKPOINT_XLARGE: 1280px;
$BREAKPOINT_XXLARGE: 1365px;

// UI Kit colors
$ui-brand-color: #FFFFFF; // dark blue

$HEADER_HEIGHT: 96px;
$HEADER_HEIGHT_MOBILE: 55px;