$subscibe-button: #1E87F0;

$BREAKPOINT_SMALL: 0px;
$BREAKPOINT_MEDIUM: 768px;
$BREAKPOINT_LARGE: 1024px;
$BREAKPOINT_XLARGE: 1280px;
$BREAKPOINT_XXLARGE: 1365px;
$BREAKPOINT_XXXLARGE: 1439px;

// UI Kit colors
$ui-brand-color: #FFFFFF; // dark blue

$HEADER_HEIGHT: 67px;
$HEADER_HEIGHT_MOBILE: 55px;
$PIMARY_COLOR: #EA5151;
$PIMARY_COLOR_600: #E52525;
$PIMARY_COLOR_200: #F7BEBE;
$SECONDARY_COLOR: #FFD933;
$NEUTRAL_LIGHT_COLOR: #F3F6FB;
$NEUTRAL_LIGHT_COLOR_700: #F9FBFD;
$NEUTRAL_LIGHT_COLOR_600: #F6F8FC;

$NEUTRAL_DARK_COLOR: #010205;
$NEUTRAL_DARK_COLOR_600: #010206;

$DEFAULT_FONT_FAMILTY: Montserrat;
